<section id="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <article>
                    <p style="text-align: justify;"><strong>4 Renk Kişilik Testi; </strong>Bu test ile kişiliğinizin güçlü ve zayıf özelliklerini Kırmızı, Mavi, Sarı ve Yeşil olarak gruplandırılmış renkler ile öğrenebilirsiniz.<span id="more-612"></span></p>
                    <br>
                    <p style="text-align: justify;"><b>Yönlendirme</b></p>
                    <p style="text-align: justify;"><strong>1)</strong> Bu teste başlamadan önce <a href="http://bilimlik.com/4-renk-kisilik-testi-yonergesi/" target="_blank"><strong>4 Renk Kişilik Testi Yönergesi</strong></a>’nin muhakkak okunması gerekmektedir.<strong> </strong></p>
                    <p style="text-align: justify;"><strong>2)</strong> Bu testi eksik doldurduğunuz ya da yanlış bilgi verdiğiniz takdirde test sonucunuz geçerliliği olmayacaktır. Sizi genellikle en iyi tanımlayan sözcük ya da ifadenin yanındaki şıkkı işaretleyiniz.</p>
                    <p style="text-align: justify;"><strong>3)</strong> Her soru için en fazla <strong>2 şık</strong> seçilerek <strong>15 soru</strong> tamamlanmalıdır.</p>
                    <p style="text-align: justify;"><strong>4)</strong> Bu testin sonucunda sizde ağırlıklı olarak bulunan temel özelliklerinizi ve sizlere verdiğimiz tavsiyelerle karşılaşacaksınız.</p>

                    <div style="padding-left:40%">
                        <a href="/Home/Dort_Renk" class="btn btn-medium btn-theme"> ŞİMDİ ANKETE KATIL</a>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>