@{ViewBag.Title = "Anasayfa";}
<section id="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h4>Toplam <strong>3</strong> anket listelendi.</h4>
            </div>
            <div class="col-lg-4">
                <div class="pricing-box-alt">
                    <div class="pricing-heading">
                        <h3><strong>4</strong> Renk Anketi</h3>
                    </div>
                    <div class="pricing-terms">
                        <h6>Şuana kadar 13.017 kişi bu anketi cevapladı.</h6>
                    </div>
                    <div class="pricing-content">
                        <ul>
                            <li><i class="icon-ok"></i> Toplam da 15 soru</li>
                            <li><i class="icon-ok"></i> Her soru 4 şık</li>
                            <li><i class="icon-ok"></i> Kişilik özellikleriniz</li>
                            <li><i class="icon-ok"></i> Tavsiyeler</li>
                            <li><i class="icon-ok"></i> Ve daha fazlası..</li>
                        </ul>
                    </div>
                    <div class="pricing-action">
                        <a href="/Home/Dort_Renk_Yonerge" class="btn btn-medium btn-theme"><i class="icon-bolt"></i> ŞİMDİ ANKETE KATIL</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="pricing-box-alt special">
                    <div class="pricing-heading">
                        <h3><strong>Burç</strong> Analiz Anketi</h3>
                    </div>
                    <div class="pricing-terms">
                        <h6>Şuana kadar 4.216 kişi bu anketi cevapladı.</h6>
                    </div>
                    <div class="pricing-content">
                        <ul>
                            <li><i class="icon-ok"></i> Toplam da 32 soru</li>
                            <li><i class="icon-ok"></i> Her soru 5 şık</li>
                            <li><i class="icon-ok"></i> Burcunuzun özellikleri</li>
                            <li><i class="icon-ok"></i> Tavsiye ve Öneriler</li>
                            <li><i class="icon-ok"></i> Ve daha fazlası..</li>
                        </ul>
                    </div>
                    <div class="pricing-action">
                        <a href="#" class="btn btn-medium btn-theme"><i class="icon-bolt"></i> ŞİMDİ ANKETE KATIL</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="pricing-box-alt">
                    <div class="pricing-heading">
                        <h3><strong>Liderlik</strong> Anketi</h3>
                    </div>
                    <div class="pricing-terms">
                        <h6>Şuana kadar 1.359 kişi bu anketi cevapladı.</h6>
                    </div>
                    <div class="pricing-content">
                        <ul>
                            <li><i class="icon-ok"></i> Toplam da 20 soru</li>
                            <li><i class="icon-ok"></i> Her soru 4 şık</li>
                            <li><i class="icon-ok"></i> Liderlik yapabilme yüzdeliğiniz</li>
                            <li><i class="icon-ok"></i> İyi bir lider olmanız için gerekenler</li>
                            <li><i class="icon-ok"></i> Ve daha fazlası..</li>
                        </ul>
                    </div>
                    <div class="pricing-action">
                        <a href="#" class="btn btn-medium btn-theme"><i class="icon-bolt"></i> ŞİMDİ ANKETE KATIL</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>